/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$facebook-retina-name: 'facebook_retina';
$facebook-retina-x: 0px;
$facebook-retina-y: 0px;
$facebook-retina-offset-x: 0px;
$facebook-retina-offset-y: 0px;
$facebook-retina-width: 88px;
$facebook-retina-height: 88px;
$facebook-retina-total-width: 176px;
$facebook-retina-total-height: 176px;
$facebook-retina-image: 'sprite.png';
$facebook-retina: (0px, 0px, 0px, 0px, 88px, 88px, 176px, 176px, 'sprite.png', 'facebook_retina', );
$question-retina-name: 'question_retina';
$question-retina-x: 88px;
$question-retina-y: 0px;
$question-retina-offset-x: -88px;
$question-retina-offset-y: 0px;
$question-retina-width: 88px;
$question-retina-height: 88px;
$question-retina-total-width: 176px;
$question-retina-total-height: 176px;
$question-retina-image: 'sprite.png';
$question-retina: (88px, 0px, -88px, 0px, 88px, 88px, 176px, 176px, 'sprite.png', 'question_retina', );
$twitter-retina-name: 'twitter_retina';
$twitter-retina-x: 0px;
$twitter-retina-y: 88px;
$twitter-retina-offset-x: 0px;
$twitter-retina-offset-y: -88px;
$twitter-retina-width: 88px;
$twitter-retina-height: 88px;
$twitter-retina-total-width: 176px;
$twitter-retina-total-height: 176px;
$twitter-retina-image: 'sprite.png';
$twitter-retina: (0px, 88px, 0px, -88px, 88px, 88px, 176px, 176px, 'sprite.png', 'twitter_retina', );
$spritesheet-width: 176px;
$spritesheet-height: 176px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($facebook-retina, $question-retina, $twitter-retina, );
$spritesheet: (176px, 176px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
